@page "/login"

<PageTitle>Login</PageTitle>

<h1>Login</h1>
<p></p>

<h1>Digite seu Email </h1>
<input type="text"
       placeholder="Digite seu Email" />
<p></p>

<h1>Digite sua Senha </h1>
<input type="text"
       placeholder="Digite sua Senha" />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
